body { 
    margin: 2em;
    background-color: black;
    color: white;
    font-family: "Edu AU VIC WA NT Hand", "cursive";
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    padding-left: 10px;
}

ul li {
    list-style-type: none;
    padding-left: 0;
    font-size: 1.5rem;
}

ul li a {
    text-decoration: none;
    color: white;
}

p {
    font-size: 2rem;
}

h1 {
    text-align: center;
}

section {
    font-size: 1rem;
}

.about-pic {
    width: 500px;
    height: 500px;
    object-fit: cover;
    border: 0px;
    border-radius: 1000px;
}

.pic-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.logo {
    width: 500px;
    height: 30vh;
}

.services {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.icons {
    padding: 50px;
}

.img-container {
    margin-left: 100px;
}

.img-text {
    margin-right: 10px;
}


.before-after {
    width: 500px;
    height: 500px;
    object-fit: cover;
    border-radius: 500px;
    border: 0;
}




@media (max-width: 600px) {
    .about-pic {
        width: 50px;
        height: 50px;
        object-fit: cover;
        border: 0px;
        border-radius: 50%;
        margin: 0;
    }

    .logo {
        width: 55px;
        height: 125px;
    }

    ul li a {
        font-size: 1.35rem;
        margin-right: 20px;
    }

    p {
        font-size: 0.3rem;
    }
    
}

@media (max-width: 600px) {


    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 15px;
        width: 100%;
        padding: 0 15px;
    }

    h1 {
        margin: 10px 0;
    }

    body {
        line-height: 1.6;
        margin: 5px;
        padding: 2px;
        overflow-wrap: break-word;
        font-size: 1.2;
        max-width: 90%;
    }

    .about-pic {
        width: 100%;
        max-width: 100%;
        height: auto;
        object-fit: cover;
        border: 0px;
        object-fit: cover;
        border-radius: 1000px;
    }

    ul li a {
        font-size: 0.95rem;
        font-weight: 650;
    }

    p {
        font-size: 0.8rem;
        margin-bottom: 1em;
    }
    
    .services {
        margin-left: 10px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
        max-width: 100%;
    }
    
    .img-container {
        margin-left: 5px;
    }

    .img-text {
        margin-left: 30px;
        max-width: 50%;
        overflow: hidden;
        flex-shrink: 0;
    }
    
    .before-after {
        width: 200px;
        height: 200px;
        object-fit: cover;
        border-radius: 50%;
        border: 0;
    }
    

}